div.btn-group-vertical
    button(type='button', id='cameras' class='btn btn-default') Cameras
    button(type='button', id='tweets' class='btn btn-default') Twitter
    button(type='button', id='instagrams' class='btn btn-default') Instagram
    button(type='button', id='crimes' class='btn btn-default') Crime
