div.btn-group-vertical
    button(type='button', id='tweets' class='btn btn-default layerToggle') Twitter
    button(type='button', id='instagrams' class='btn btn-default layerToggle') Instagram
    button(type='button', id='crimes' class='btn btn-default layerToggle') Crime
    button(type='button', id='metroLines' class='btn btn-default layerToggle') Metro Lines
    button(type='button', id='metroStations' class='btn btn-default layerToggle') Metro Stations
    button(type='button', id='wifi' class='btn btn-default layerToggle') Wifi Hotspots
    button(type='button', id='trains' class='btn btn-default layerToggle') Trains
    button(type='button', id='fundraisers' class='btn btn-default layerToggle') Fundraisers
