

.metroicon {
    width: 16px;
    height: 16px;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    border:solid 2px #fff; 
    opacity:1;
    background-color: #fff;
}


.markericon {
    width: 24px;
    height: 24px;
}
.fadingicon {
    width: 24px;
    height: 24px;

    -webkit-animation: fadeout 2s;
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.circleMarker {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:solid 2px #fff; 
    width:80px;
    height:80px;  
    opacity:0;

    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -moz-animation: fadein 2s; /* Firefox */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera */
    animation: fadein 2s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0;  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
