
.leaflet-control-sidebar-open-interior
{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    cursor: auto;
    text-align: center;
    background-color: #FFFFFF;
}

.leaflet-control-sidebar-open-interior:hover
{
    background-color: #F4F4F4;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 1.0s ease-out, opacity 1.0s ease-in;
    -moz-transition: -moz-transform 1.0s ease-out, opacity 1.0s ease-in;
    -o-transition: -o-transform 1.0s ease-out, opacity 1.0s ease-in;
    transition: transform 1.0s ease-out, opacity 1.0s ease-in;
    }

.metroicon {
    width: 16px;
    height: 16px;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
    border:solid 2px #fff; 
    opacity:1;
    background-color: #fff;
}


.markericon {
    width: 24px;
    height: 24px;
}
.fadingicon {
    width: 24px;
    height: 24px;

    -webkit-animation: fadeout 2s;
}



@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.circleMarker {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:solid 2px #fff; 
    width:80px;
    height:80px;  
    opacity:1;

    -webkit-animation: fadeout 2s; /* Safari and Chrome */
    -moz-animation: fadeout 2s; /* Firefox */
    -ms-animation: fadeout 2s; /* Internet Explorer */
    -o-animation: fadeout 2s; /* Opera */
    animation: fadeout 2s;
}

.fadeIn {
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}


.fadeOut {   
    animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s; /* Firefox */
    -webkit-animation: fadeout 0.5s; /* Safari and Chrome */
    -o-animation: fadeout 0.5s; /* Opera */
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1;  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0;  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}​

/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}​